<html>
    <head>
    </head>
    <body>
        {% if user_list %}
            <table>
                <tr>
                    <th align="left">Username</th>
                    <th align="left">Creation Date</th>
                </tr>
                {% for user in user_list %}
                    <tr><td width="400 px">{{ user.user }}</td><td>{{ user.pub_date }}</td></tr>
                {% endfor %}
            </table>
        {% else %}
            <p>No users created</p>
        {% endif %}
        <br/>
        <a href="add"> Add user </a>
    </body>
</html>